html
  head
    title= "Automate Onboard Process"
    link(rel='stylesheet', href="/css/style.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src="/js/script.js")
  body
  <div class="actions-user">
      a(href=`/`, title="Edit").email.home <i class="fas fa-home"></i> Home
  </div>
  img(src="https://www.consumerlaw.com/wp-content/uploads/2018/12/clg_new_u-1.png", alt="" width="300px").logo
  <div>
    <form action="/users" method="post">
      <div class="container">
        h3="User Info"
        each val in data.field
            <div class="field-container">
            if val.type == "select"
                | <label for="#{val.key}">#{val.label}: </label>
                | <select name="#{val.key}"> 
                each option in val.options
                    <option>#{option.val}</option>
                |</select>
            else 
                | <label for="#{val.key}">#{val.label}: </label>
                | <input id="#{val.key}" type="#{val.type}" name="#{val.key}" placeholder="#{val.label}">
            </div>
      </div>
      <div class="lists">
      <div class="container">
        h3="Distrubution List"
        each dist in data.distributions
          <div class="field-container-list">
            <label for="#{dist.key}">#{dist.label} </label>
            <input id="#{dist.key}" type="#{dist.type}" name="#{dist.key}" placeholder="#{dist.label}">
          </div>
      </div>
      <div class="container">
        h3="Sugar Teams"
        each dist in data.teams
          <div class="field-container-list">
            <label for="#{dist.key}">#{dist.label} </label>
            <input id="#{dist.key}" type="#{dist.type}" name="#{dist.key}" placeholder="#{dist.label}">
          </div>
      </div>
      <div class="container">
        h3="3cx Queues"
        each dist in data.queues
          <div class="field-container-list">
            <label for="#{dist.key}">#{dist.label} </label>
            <input id="#{dist.key}" type="#{dist.type}" name="#{dist.key}" placeholder="#{dist.label}">
          </div>
      </div>
      </div>
      <div class="action">
        <input type="submit" value="Save">
            a(href=`/`, title="title").cancel Cancel
      </div>
    </form>
  </div>