html
  head
    title= "Automate Onboard Process"    
    link(rel='stylesheet', href="/css/style.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  body
    <div class="actions-user">
        a(href=`/`, title="Edit").email.home <i class="fas fa-home"></i> Home
    </div>
    img(src="https://www.consumerlaw.com/wp-content/uploads/2018/12/clg_new_u-1.png", alt="" width="300px").logo
    <form action="/users/#{data.id}" method="post">
        <div class="container">
        h3="User Info"
        each val in config.field
            <div class="field-container">
            case val.type
                when "select"
                    <label for="#{val.key}">#{val.label}: </label>
                    <select name="#{val.key}"  value="#{data[val.key]}"> 
                    each option in val.options
                        if data[val.key] == option.val
                            <option selected="true">#{option.val}</option>
                        else 
                            <option>#{option.val}</option>
                    </select>
                when "checkbox"
                    <label for="#{val.key}">#{val.label}: </label>
                    if data[val.key]
                        <input id="#{val.key}" type="#{val.type}" name="#{val.key}" placeholder="#{val.label}" checked>
                    else 
                        <input id="#{val.key}" type="#{val.type}" name="#{val.key}" placeholder="#{val.label}">
                default
                    <label for="#{val.key}">#{val.label}: </label>
                    <input id="#{val.key}" type="#{val.type}" name="#{val.key}" placeholder="#{val.label}" value="#{data[val.key]}">
            </div>
        </div>
        <div class="lists">
        <div class="container">
            h3="Distrubution List"
            each dist in config.distributions
                <div class="field-container-list">
                    <label for="#{dist.key}">#{dist.label} </label>
                    if data[dist.key]
                        <input id="#{dist.key}" type="#{dist.type}" name="#{dist.key}" placeholder="#{dist.label}" checked>
                    else 
                        <input id="#{dist.key}" type="#{dist.type}" name="#{dist.key}" placeholder="#{dist.label}">
                </div>
        </div>
        <div class="container">
            h3="Sugar Teams"
            each dist in config.teams
                <div class="field-container-list">
                    <label for="#{dist.key}">#{dist.label} </label>
                    if data[dist.key]
                        <input id="#{dist.key}" type="#{dist.type}" name="#{dist.key}" placeholder="#{dist.label}" checked>
                    else 
                        <input id="#{dist.key}" type="#{dist.type}" name="#{dist.key}" placeholder="#{dist.label}">
                </div>
        </div>
        <div class="container">
            h3="3cx Queues"
            each dist in config.queues
                <div class="field-container-list">
                    <label for="#{dist.key}">#{dist.label} </label>
                    if data[dist.key]
                        <input id="#{dist.key}" type="#{dist.type}" name="#{dist.key}" placeholder="#{dist.label}" checked>
                    else 
                        <input id="#{dist.key}" type="#{dist.type}" name="#{dist.key}" placeholder="#{dist.label}">
                </div>
        </div>
        </div>
        <div class="action">
            <input type="submit" value="Save">
            a(href=`/users/${data.id}`, title="title").cancel Cancel
        </div>
    </form>