html
  head
    title= "Automate Onboard Process"
    link(rel='stylesheet', href="/css/style.css")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  body
    <div class="actions-user">
        a(href=`users/add`, title="title").email <i class="fas fa-plus"></i> Create
    </div>
    img(src="https://www.consumerlaw.com/wp-content/uploads/2018/12/clg_new_u-1.png", alt="" width="300px").logo
    <div class="container">
    div
        h3="Users"
    table

        thead 
            tr 
                th Name
                th Department
                th Email
                th DID
                th Extension
                th Status
                th Date Created
                th
        tbody 
        each user in users
            tr(class=`${user.status}`)
                td #{user.first_name} #{user.last_name}
                td #{user.department}
                td #{user.office_user}
                td #{user.direct_number}
                td #{user.extension}
                td #{user.status}
                td #{user.date_created}
                td.edit
                    a(href=`users/${user.id}`, title="title").edit-link <i class="fas fa-eye"></i> View
                    a(href=`users/edit/${user.id}`, title="title").edit-link <i class="fas fa-edit"></i> Edit

    </div>
                

        
    